language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install -r dev-requirements.txt
  - pip install coveralls
script:
  nosetests --with-coverage --cover-erase --cover-package=aioimaplib
after_success:
  coveralls
